
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}
.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid var(--secondary);
    z-index: 1000;
    display: none;
}
.point{
    display: none;
    width: 10px;
    height: 10px;
    background-color: var(--secondary);
    border-radius: 50%;
    z-index: 1000;
    position: fixed;
    
}
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* margin: 35px 120px; */
    padding: 10px 120px;
    border-bottom: 1px solid var(--text);
    position: fixed;
    z-index: 1000;
    background-color: var(--bg);
}

.header .logo{
    display: flex;
    align-items: center;
    color: var(--text);
    font-size: 1.7em;
    font-weight: 500;
}

.header .logo img{
    width: 55px;
    height: fit-content;
    object-fit: contain;
    margin-right: 20px;
}


.header nav a {
    position: relative;
    margin: 0 15px;
    font-size: 1em;
    color: var(--text);
    font-weight: 400;
    text-decoration: none;
}    

.header nav a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 3px;
    background: var(--bg);
    border-radius: 5px;
    transition: .5s;
}

.header nav a:hover::after{
    background: var(--secondary);
    width: 100%;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0px 10px;
    padding-top: 20%;
}
.main h1{
    font-size: 8.5rem;
    width: 100%;
    color: var(--text);
    padding-left: 30px;
    margin-bottom: 20px;
}
.main h1 span{
    position: relative;
}
.main h1 span::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 20px;
    background-color: var(--text);
}
.main img{
    object-fit: cover;
    height: 300px;
    max-width: 500px;
    margin-right: 10%;
}

.curveBox{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 999;
}

.curveBox .inner{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.curveBox .inner i{
    font-size: 2.1em;
    background-color: var(--text);
    color: var(--bg);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.curveBox .curveTextBox{
    /* position: absolute; */
    width: fit-content;
    height: fit-content;
    rotate: 360deg;
    cursor: pointer;
    animation: curveText 20s linear infinite;
}

@keyframes curveText {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}

.runwaysec{
    width: 100%;
    height: fit-content;
    padding-top: 80px;
}

.runwaysec .nestSec{
    width: 100%;
    padding-left: 100px;
    display: flex;
    /* position: relative; */
}

.mask{
    width: 300px;
    height: 300px;
    position: absolute;
    /* background-color: red; */
}
.runwaysec .nestSec img{
    max-width: 500px;
    height: fit-content;
    object-fit: contain;
}

.runwaysec .nestSec .text{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 50px;
}

.runwaysec .nestSec .text h2{
    font-size: 4em;
    margin-bottom: 10px;
}

.runwaysec .nestSec .text p{
    font-size: 1.2em;
    max-width: 800px;
    color: var(--secondaryText);
}

.runwaysec .nestSec .text p:nth-child(2){
    margin-bottom: 20px;
}



.autoScrollSec{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    flex-direction: column;
}


.contactSec{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    height: fit-content;
}

.contactSec h1{
    font-size: 4em;
    text-align: start;
    width: 100%;

    margin-bottom: 40px;
}

.contactSec .Cbox{
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    height: 700px;
    min-height: 700px;
    background-color: var(--bg2);
    align-items: center;
    border-radius: 10px;
}

.contactSec .Cbox .contactBox{
    display: flex;
    flex-direction: column;
    height: fit-content;
    height: 100%;
    padding-top: 40px;
    padding-left: 30px;
}

.contactSec .Cbox .contactBox h2{
    font-size: 3em;
    margin-bottom: 0px;
    color: white;
}
.contactSec .Cbox .contactBox p{
    max-width: 500px;
    margin-bottom: 30px;
    color: white;
}
.contactSec .Cbox .contactBox form{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.contactSec .Cbox .contactBox form button{
    height: 60px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1em;
    margin-bottom: 10px;
    padding: 0 20px;
    cursor: pointer;
    background-color: white;
    color: black;
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    font-size: 1.7em;
    padding-right: 40px;
    transition: all 0.3s ease;
}

.contactSec .Cbox .contactBox form button:hover{
    padding-right: 20px;
}
.contactSec .Cbox .contactBox form input,
.contactSec .Cbox .contactBox form textarea{
    height: 60px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1em;
    margin-bottom: 10px;
    padding: 0 20px;
    outline: 0px solid var(--text);
    /* transition: all 0.3s ease; */
}
.contactSec .Cbox .contactBox form input:focus,
.contactSec .Cbox .contactBox form textarea:focus{
    outline: 1px solid var(--text);
}
.contactSec .Cbox .contactBox form textarea{
    padding-top: 20px;
    resize: none;
    height: 300px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contactSec .Cbox .aboutBox{
    margin-right: 30px;
    background-color: red;
    background-image: url('../../../../public/model4.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    height: 90%;
    /* overflow: hidden; */
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.contactSec .Cbox .aboutBox p{
    max-width: 500px;
}

.contactSec .Cbox .aboutBox .top{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 10px;
}

.contactSec .Cbox .aboutBox .top h2{
    font-size: 1.4em;
    color: white;
    margin-left: 20px;
}
.contactSec .Cbox .aboutBox .top img{
    max-width: 55px;
    height: fit-content;
    object-fit: contain;
}

.contactSec .Cbox .aboutBox p {
    font-size: 1.1em;
    padding: 10px;
    border-radius: 10px;
    color: white;
    /* margin-left: 20px; */
    background-color: rgba(255, 0, 0, 0.071);
    backdrop-filter: blur(10px);
}

@media screen and  (min-width:320px) and (max-width:480px){
    .header{
        padding: 10px 30px;
        position: fixed;
    }
    .header .logo{
        padding: 0;
        font-size: 1.5em;
    }
    .header .logo img{
        max-width: 50px;
    }
    .header nav{
        display: none;
    }
    .main{
        padding: 0;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding-top: calc(100% - 230px); */

    }
    .main h1{
        font-size: 4.5em !important;
        max-width: 100%;
        color: var(--text);
        padding-left: 30px;
        margin-bottom: 10px;
        padding-right: 5px;
        margin-top: calc(100% - 350px);
    }
    .main h1 span::before{
        height: 10px;
    }
    .main img{
        max-width: 90%;
        padding: 0;
        margin: 0;
        margin-top: 20px;
    }

    .runwaysec{
        padding: 0;
        margin: 0;
        margin-top: 20px;
    }

    .runwaysec .nestSec{
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 0;
        padding-top: 100px;
        margin: 0;
    }
    .runwaysec .nestSec h2{
        font-size: 3.5em !important;
        padding-left: 20px;
        max-width: 100%;
    }
    .runwaysec .nestSec .text{
        margin: 0;
        padding: 0;
        /* padding-left: 20px; */
    }
    .runwaysec .nestSec .text p{
        max-width: 100%;
        padding: 0px 20px;
        margin-bottom: 20px;
    }
    .runwaysec .nestSec img{
        width: 90%;
    }
    .contactSec{
        padding: 0;
        margin: 0;
    }
    .contactSec h1:nth-child(1){
        padding-left: 20px;
        margin: 0;
        margin-bottom: 10px;
    }
    .contactSec .Cbox{
        width: 95%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: fit-content;
    }

    .contactSec .Cbox .contactBox{
        width: 90%;
        margin: 0;
        min-height: 600px;
        padding: 0;
        padding-top: 30px;
        margin-bottom: 10px;
    }
    .contactSec .Cbox .contactBox form{
        margin: 0;
    }

    .contactSec .Cbox .aboutBox{
        width: 90%;
        margin: 0;
        min-height: 600px;
        margin-top: 30px;
    }
}
@media screen and (min-width:481px) and (max-width:768px){
    .header{
        padding: 10px 30px;
    }
    .header .logo{
        padding: 0;
        font-size: 1.5em;
    }
    .header .logo img{
        max-width: 50px;
    }
    .header nav{
        display: none;
    }
    .main{
        padding: 0;
        display: flex;
        align-items: center;
        padding-top: 150px;
    }
    .main h1{
        font-size: 5.5rem;
        width: 100%;
        color: var(--text);
        padding-left: 30px;
    }
    .main img{
        max-width: 90%;
        padding: 0;
        margin: 0;
        margin-top: 20px;
    }

    .runwaysec{
        padding: 0;
        margin: 0;
    }

    .runwaysec .nestSec{
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 0;
        padding-top: 100px;
        margin: 0;
    }
    .runwaysec .nestSec img{
        width: 90%;
    }
    .contactSec{
        padding: 0;
        margin: 0;
    }
    .contactSec h1:nth-child(1){
        padding-left: 20px;
        margin: 0;
        margin-bottom: 10px;
    }
    .contactSec .Cbox{
        width: 95%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: fit-content;
    }

    .contactSec .Cbox .contactBox{
        width: 90%;
        margin: 0;
        min-height: 600px;
        padding: 0;
        padding-top: 30px;
        margin-bottom: 10px;
    }

    .contactSec .Cbox .aboutBox{
        width: 90%;
        margin: 0;
        min-height: 600px;
        margin-top: 30px;
    }

    

}
@media screen and (min-width:769px) and (max-width:1024px){
    .header{
        padding: 10px 30px;
    }
    .header .logo{
        padding: 0;
        font-size: 1.5em;
    }
    .header .logo img{
        max-width: 50px;
    }
    .header nav{
        display: block;
    }
    .main{
        padding: 0;
        display: flex;
        align-items: center;
        padding-top: 150px;
    }
    .main h1{
        font-size: 5.5rem;
        width: 100%;
        color: var(--text);
        padding-left: 30px;
    }
    .main img{
        max-width: 90%;
        padding: 0;
        margin: 0;
        margin-top: 20px;
    }

    .runwaysec{
        padding: 0;
        margin: 0;
    }

    .runwaysec .nestSec{
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 0;
        padding-top: 100px;
        margin: 0;
    }
    .runwaysec .nestSec img{
        width: 90%;
    }
    .contactSec{
        padding: 0;
        margin: 0;
    }
    .contactSec h1:nth-child(1){
        padding-left: 20px;
        margin: 0;
        margin-bottom: 10px;
    }
    .contactSec .Cbox{
        width: 95%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: fit-content;
    }

    .contactSec .Cbox .contactBox{
        width: 90%;
        margin: 0;
        min-height: 600px;
        padding: 0;
        padding-top: 30px;
        margin-bottom: 10px;
    }

    .contactSec .Cbox .aboutBox{
        width: 90%;
        margin: 0;
        min-height: 600px;
        margin-top: 30px;
    }

}
@media screen and (max-width: 1200px) {
    .header{
        padding: 10px 30px;
    }
    .header .logo{
        padding: 0;
        font-size: 1.5em;
    }
    .header .logo img{
        max-width: 50px;
    }
    .main{
        padding: 0;
        display: flex;
        align-items: center;
        padding-top: 150px;
    }
    .main h1{
        font-size: 5.5rem;
        width: 100%;
        color: var(--text);
        padding-left: 30px;
    }
    .main img{
        max-width: 90%;
        padding: 0;
        margin: 0;
        margin-top: 20px;
    }

    .runwaysec{
        padding: 0;
        margin: 0;
    }

    .runwaysec .nestSec{
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 0;
        padding-top: 100px;
        margin: 0;
    }
    .runwaysec .nestSec img{
        width: 90%;
    }
    .contactSec{
        padding: 0;
        margin: 0;
    }
    .contactSec h1:nth-child(1){
        padding-left: 20px;
        margin: 0;
        margin-bottom: 10px;
    }
    .contactSec .Cbox{
        width: 95%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: fit-content;
    }

    .contactSec .Cbox .contactBox{
        width: 90%;
        margin: 0;
        min-height: 600px;
        padding: 0;
        padding-top: 30px;
        margin-bottom: 10px;
    }

    .contactSec .Cbox .aboutBox{
        width: 90%;
        margin: 0;
        min-height: 600px;
        margin-top: 30px;
    }
}


    